@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CryptoScrape</h1>
    <p class="lead">Crypto currency data scraper.</p>
    <p><a href="Currencies" class="btn btn-primary btn-lg">View Crypto Currencies</a></p>
</div>

<div class="row">
  
</div>